.join {
    padding: 20px 20px 12px 20px;
    background-color: #8b0000;
    color: #ffffff;
    transition: background-color .5s;
    margin-top: 20px;
}

.join:hover{
    text-decoration: none;
    background-color: #770000;
}

th {
    font-size: 20px;
}

td {
    font-size: 20px;
}
