{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/lobby.css') }}">
{% endblock %}

{% block title %}
Game Lobby
{% endblock %}


{% block content %}
<div class="container justify-content-center">
  <div class="row">
    <div class="col-sm-4" style="margin: 20px; width: 100%;">
      <div class="row">
        <div class="col-sm">
          <a href="/create_game" style="text-decoration: none;"><div class="join"><h2 class="text-center">Join Game</h2></div></a>
        </div>
      </div>
    </div>

    <div class="col-sm" style="margin: 20px; width: 100%;">
      <div class="row">
        <div class="col-sm">
          <h1 class="text-center">Leaderboard</h1>
        </div>
      </div>
      <div class="row">
        <table class="table table-borderless">
          <thead>
            <tr>
              <th scope="col"><h3>Username</h3></th>
              <th scope="col" class="text-center"><h3>Wins</h3></th>
              <th scope="col" class="text-center"><h3>Losses</h3></th>
            </tr>
          </thead>
          <tbody>
            {% for player in users %}
            {% if player['username'] == user %}
            <tr class="table-active">
              {% else %}
            <tr>
              {% endif %}
              <th scope="row">{{ player['username'] }}</th>
              <td class="text-center">{{ player['wins'] }}</td>
              <td class="text-center">{{ player['losses'] }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

</div>
{% endblock %}
