{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/lobby.css') }}">
{% endblock %}

{% block title %}
Winner!
{% endblock %}


{% block content %}
<div class="container justify-content-center" style="margin-top: -50px;">

  <h1 class="text-center">You won!</h1>
  <a href="/create_game" style="text-decoration: none;"><h4 class="text-center" style="margin: 35px 0 50px 0;"><span class="join">Play Again</span></h4></a>
  <h1 class="text-center">Leaderboard</h1>
    <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col"><h5>Username</h5></th>
        <th scope="col" class="text-center"><h5>Wins</h5></th>
        <th scope="col" class="text-center"><h5>Losses</h5></th>
      </tr>
    </thead>
    <tbody>
      {% for player in users %}
      {% if player['username'] == user %}
      <tr class="table-active">
        {% else %}
      <tr>
        {% endif %}
        <th scope="row">{{ player['username'] }}</th>
        <td class="text-center">{{ player['wins'] }}</td>
        <td class="text-center">{{ player['losses'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
