@font-face {
font-family: "silkscreen";
src: url("silkscreen.ttf");
}


body{
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: silkscreen;
}

html{
    height:100%;
    width: 100%;
}

.content {
    margin-top: 50px;
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    margin:15px;
    height: 100px;
    padding: 20px;
}

.form_block {
    width: 60%;
    margin: 0 auto;
}

#logo {
    width: auto;
    height: 125px;
    top: 10px;
    left: 20px;
    display: block;
    position: absolute;
}

.nav_link {
    font: 25px silkscreen;
    margin-top: 20px;
}

.drop_link {
    font: 20px silkscreen;
}

.dropdown-menu {
    border: none;
    background: #f8f9fa;
}

.outline {
  -webkit-text-stroke: 30px #ffffff;
  user-select: none;
}
