{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block title %}Game{% endblock %}

{% block pop %}

{% endblock %}

{% block content %}

<div class="container justify-content-center">
  <div class="text-center" style="z-index: 1000;">
    <p id="turn">PLAYER TURN</p>
    <p id="commands"></p>
    <p id="desc"></div>
  <div id="game_controls" class="text-center">
  <span id="yes" class="game_but">Yes</span>
  <span id="no" class="game_but">No</span>
  <span id="draw" class="game_but">Draw Card</span>
  </div>
</div>
<div id="cont">
    <svg width = "1250" height = "1000" id="c">
    </svg>
</div>
</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="../static/cards.js"></script>
    <script src="../static/effects.js"></script>
    <script src="../static/game.js"></script>

{% endblock %}
