{% extends "base.html" %}

{% block title %}
Loser!
{% endblock %}


{% block content %}
<div class="container justify-content-center">

  <h1 class="text-center">You lost :(</h1>
  <table class="table table-borderless">
    <thead>
      <tr>
        <th scope="col"><h5>Username</h5></th>
        <th scope="col" class="text-center"><h5>Wins</h5></th>
        <th scope="col" class="text-center"><h5>Losses</h5></th>
      </tr>
    </thead>
    <tbody>
      {% for player in users %}
      {% if player['username'] == user %}
      <tr class="table-active">
        {% else %}
      <tr>
        {% endif %}
        <th scope="row">{{ player['username'] }}</th>
        <td class="text-center">{{ player['wins'] }}</td>
        <td class="text-center">{{ player['losses'] }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
